/* место для вашего кода */
body {
  position: relative;
}

.header {
  display: flex;
  width: 1340px;
  height: 109px;
  position: absolute;
  margin: 92px 50px 92px 50px;
  padding: 0;
}

.header__menu {
  display: flex;
  align-self: center;
  margin-left: 0;
  margin-right: 712px;
  min-width: 388px;
  max-height: 23px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  font-weight: 400px;
}

.header__links-list {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

.header__links-list-item {
  margin: 0 13px 0 12px;
  list-style: circle;
}

.header__links-list-item:first-child {
  margin: 0 13px 0 0;
  padding: 0;
}

.header__link_active a {
  text-decoration: none;
}

.header__link_active {
  list-style-type: none;
}

.header__logo {
  display: flex;
  position: absolute;
  width: 148px;
  height: 105px;
  margin-left: 597px;
  margin-right: 595px;
  margin-top: 0;
  margin-bottom: 4px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  color: #000000;
  min-width: 240px;
}

.header__address a:last-child {
  text-decoration: none;
}

.cover {
  position: absolute;
  margin: 292px 0 auto 0;
  padding: 1px 0 5.94px 0;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1440px;
  height: 757px;
  z-index: -1;
}

.overlay {
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 60%;
  z-index: 0;
}

.cover__title {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 60px;
}

.aligned-text {
  display: flex;
  position: absolute;
  margin-top: 165px;
  margin-left: 50px;
  margin-bottom: 477px;
  margin-right: 50px;
  width: 1340px;
  height: 115px;
}

.aligned-text_center {
  display: flex;
  position: absolute;
  padding: 0 450px 0 450px;
  margin-top: 300px;
  margin-left: 50px;
  margin-bottom: 357px;
  margin-right: 50px;
  width: 1280px;
  height: 100px;
}

.aligned-text_right {
  display: flex;
  position: absolute;
  margin-top: 420px;
  margin-left: 50px;
  margin-bottom: 237px;
  margin-right: 50px;
  padding: 0 25px 0 925px;
  width: 1340px;
  height: 100px;
}

.cover__description-text {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-weight: 400px;
  font-size: 22px;
  line-height: 28px;
  align-self: center;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 3;
  margin-top: 667px;
  margin-left: 422px;
  margin-bottom: auto;
  margin-right: 385px;
  padding: 0;
  word-spacing: 17px;
}

.alternative-word-spacing {
  word-spacing: 22px;
}

.bet-button {
  all: unset;
  width: 193px;
  height: 28px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 25.83px;
  align-self: center;
  position: absolute;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px white solid;
  background-color: transparent;
  padding: 12px 32px 12px 32px;
  margin-left: 1133px;
  margin-top: 655px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.lots {
  position: absolute;
  width: 1340px;
  height: 579px;
  margin: 1230px 50px auto 50px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.lots__heading {
  text-transform: uppercase;
  margin-left: 40px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
}

.lots__card-list {
  position: absolute;
  display: flex;
  padding-top: 74px;
  padding-left: auto;
  padding-bottom: 55px;
  padding-right: auto;
}

.lots__card-list-item {
  position: relative;
  width: 430px;
  height: 450px;
  display: flex;
  margin-right: 25px;
}

.lots__card-list-item:last-child {
  margin: 0;
  padding: 0;
}

.card__title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  z-index: 2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.card__text {
  position: absolute;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  z-index: 3;
  left: 40px;
  right: 40px;
  bottom: 50px;
}

.lots__look-more-link {
  position: absolute;
  padding: 0;
  margin-top: 554px;
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid;
}

.about {
  display: grid;
  grid-template-columns: 430px 885px;
  grid-template-rows: 240px 388px;
  column-gap: 25px;
  position: absolute;
  margin: 1990px 50px auto 50px;
  padding: 0;
  width: 1340px;
  height: 487px;
}

.about__logo {
  display: flex;
  align-items: center;
  background-color: #000000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-left: 95px;
}

.about__logo-image {
  margin-left: 46px;
  width: 148px;
  height: 114px;
}

.about__column {
  margin-top: 100px;
}

.about__title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.footer {
  display: grid;
  position: absolute;
  margin: 2657px 50px 90px 50px;
  padding: 0;
  width: 1340px;
  height: 97px;
  grid-template-columns: repeat(6, 1fr);
  gap: 356px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  color: #000000;
  min-width: 240px;
}

.footer__menu {
  display: flex;
  min-width: 388px;
  max-height: 23px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  font-weight: 400;
  text-align: center;
}

.footer__menu-list-item {
  text-decoration: none;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  right: 0;
  min-width: 240px;
  height: 48px;
}

.footer__social-list-item {
  list-style: none;
  display: inline;
  margin-right: 48px;
}

.footer__social-list-item:last-child {
  margin: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
